{% extends "bootstrap_theme/base.html" %}
{% load bootstrap3 %}
{% load wedding %}

{% block content %}
<div class="page-header">
  <h1>Colophon</h1>
</div>

<p>Our design is in the style of airline websites (of course) and the typefaces we chose were inspired by
  <a href="https://en.wikipedia.org/wiki/Swissair#/media/File:131bf_-_Swissair_Airbus_A321-111;_HB-IOE@ZRH;11.05.2001_(5588353622).jpg">Swissair</a>. Photos are our own and the color palette is based on those, Bootstrap, and palettes found on
  <a href="http://www.colourlovers.com/palette/3692564/.Listen.">COLOURlovers</a>.</p>

<h2>Background Photos</h2>

<p>The photos we use in the background of this website are, with one exception, licensed <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC BY-SA 2.0</a>:</p>

<ul>
  <li>Photo for <a href="https://www.flickr.com/photos/joshsimmons/32442894791/">Home</a> page was a part of our engagement photos taken in Tasmania, January 2017.
  </li>
  <li>Photos for <a href="https://www.flickr.com/photos/chrisjrn/25992431526/">When &amp; Where</a> and
    <a href="https://www.flickr.com/photos/chrisjrn/25745430170/">Colophon</a> pages taken by Chris in California and Nevada respectively, March 2016.
  </li>
  <li>Photos for <a href="https://www.flickr.com/photos/joshsimmons/31811170753/">Our Story</a>,
    <a href="https://www.flickr.com/photos/joshsimmons/32500751241/">Registry</a>,
    <a href="https://www.flickr.com/photos/joshsimmons/31811267983/">Photos</a>, and
    <a href="https://www.flickr.com/photos/joshsimmons/32582933086/">Your Information</a> pages taken by Josh in Tasmania, January 2017.
  </li>
</ul>

<h2>Open Source</h2>

<p>Chris and Josh are both programmers who work specifically with &ldquo;open source&rdquo; technology &ndash; we use it and do community organizing for like-minded hobbyists and professionals.
  <a href="https://opensource.org/osd">Open Source Initiative</a>, an organization whose board Josh sits on, created and maintains the open source definition but you might find
  <a href="https://opensource.com/resources/what-open-source">this explanation</a> more useful.</p>

<p>All that is to say, this website is built using a lot of open source. Our tools, the website itself, the server that runs it, and even the typefaces are almost entirely open source. So, credit where credit is due:</p>

<ul>
  <li>Website built with
    <a href="https://www.djangoproject.com/">Django</a><a href="https://github.com/django/django/blob/master/LICENSE" title="Django License">*</a>,
    <a href="https://www.python.org/">Python</a><a href="https://docs.python.org/3/license.html#psf-license-agreement-for-python-release" title="Python License">*</a>,
    <a href="http://getbootstrap.com/">Bootstrap</a><a href="https://github.com/twbs/bootstrap/blob/master/LICENSE" title="Bootstrap License">*</a>, and
    <a href="http://sass-lang.com/">Sass</a><a href="http://sass-lang.com/documentation/file.MIT-LICENSE.html" title="Sass License">*</a>.
  </li>
  <li>Fonts include
    <a href="https://fonts.google.com/specimen/Muli">Muli</a><a href="http://scripts.sil.org/cms/scripts/page.php?site_id=nrsi&id=OFL_web">*</a> and
    <a href="https://fonts.google.com/specimen/Open+Sans">Open Sans</a><a href="http://www.apache.org/licenses/LICENSE-2.0" title="Open Sans License">*</a>.
  </li>
  <li>Favicon sourced from
    <a href="https://www.emojione.com/">EmojiOne</a><a href="https://d1j8pt39hxlh3d.cloudfront.net/license-free.pdf" title="EmojiOne License">*</a>.
  </li>
  <li>Tools include
    <a href="https://atom.io/">Atom</a><a href="https://github.com/atom/atom/blob/master/LICENSE.md" title="Atom License">*</a>,
    <a href="https://git-scm.com/">Git</a><a href="https://github.com/git/git/blob/master/COPYING" title="Git License">*</a>, and
    <a href="https://github.com/google/guetzli">Guetzli</a><a href="https://github.com/google/guetzli/blob/master/LICENSE" title="Guetzli License">*</a>.
  </li>
</ul>

<p>Of course, <a href="https://github.com/joshsimmons/animportantdate/">this website</a> itself is open sourced under the
  <a href="https://github.com/joshsimmons/animportantdate/blob/master/LICENSE">MIT license</a>. No, we&rsquo;re not writing any documentation for it and don&rsquo;t plan to maintain it &#x1F609;
</p>
{% endblock content %}
