{% extends "bootstrap_theme/base.html" %}

{# Load the tag library #}
{% load bootstrap3 %}

{% block content %}

<div class="page-header">
  <h1>Gifts</h1>
</div>

<p>We&rsquo;re starting a new life together and have a long list of things we need and want, both large and small, so we&rsquo;ve put together a few wedding registries. But not everything we want can be bought at a store &ndash; we want to fill our lives with art and would love for yours to be a part of it, whatever form that takes!</p>

<ul>
  <li><a href="https://smile.amazon.com/wedding/share/animportantdate">Amazon</a></li>
  <li><a href="https://www.rei.com/GiftRegistryDetails/15190915">REI</a></li>
  <li><a href="https://info.ikea-usa.com/giftregistry/en-us/registry/fdcafb4d-1bff-4aab-8c6a-e810b78e2d6c">IKEA</a></li>
</ul>

<p>But a wedding is about more than two people coming together, it&rsquo;s about a community coming together. In the spirit of contributing to something that is larger than any one of us, we invite you to:</p>

<h2>Donate or Volunteer</h2>

<p>We would be honored if you make a donation in our name or volunteer with one of the following organizations. Please let us know when you do so we can thank you!</p>

<ul>
  <li><a href="http://www.doctorswithoutborders.org/">Doctors Without Borders/Médecins Sans Frontières</a> &#x1F30F;
  </li>
  <li><a href="https://sfconservancy.org/">Software Freedom Conservancy</a> &#x1F30F;</li>
  <li><a href="http://www.australianmarriageequality.org/">Australian Marriage Equality</a> &#x1F1E6;&#x1F1FA;</li>
  <li><a href="https://www.openaustraliafoundation.org.au/">Open Australia Foundation</a> &#x1F1E6;&#x1F1FA;</li>
  <li><a href="https://www.lambdalegal.org/">Lambda Legal</a> &#x1F1FA;&#x1F1F8;</li>
  <li><a href="https://www.splcenter.org/">Southern Poverty Law Center</a> &#x1F1FA;&#x1F1F8;</li>
</ul>

<h2>Write Your Representatives</h2>

<p>If you&rsquo;re in Australia, call or write to your Federal MP or Coalition/ALP Senators in support of same-sex marriage. You can find them using
  <a href="http://www.openaustralia.org.au/">OpenAustralia.org.au</a>. In the United States, call or write to your representatives or senators in support of campaign finance reform. You can find your them using
  <a href="https://www.govtrack.us/congress/members">GovTrack.us</a>. Please let us know when you do so we can thank you!
</p>

{% endblock %}
