{% extends "bootstrap_theme/base.html" %}

{# Load the tag library #}
{% load bootstrap3 %}

{% block content %}
<div class="page-header">
  <h1>Photos</h1>
</div>

<p>We&rsquo;ll be collecting photos before and during the wedding and posting them here. Have you taken photos you&rsquo;d like to share? Let us know!</p>

<h2>Engagement Photos</h2>

<p>You can find our
  <a href="https://www.flickr.com/photos/joshsimmons/albums/72157679567577406">engagement photo album</a> on Flickr. Photos taken by
  <a href="https://www.instagram.com/1000PortraitProject/">Jesse D. Graham</a> on January 25th, 2017 at
  <a href="https://en.wikipedia.org/wiki/Cambridge_Aerodrome">Cambridge Aerodrome</a>,
  <a href="https://en.wikipedia.org/wiki/Mount_Pleasant_Radio_Observatory">Mount Pleasant Radio Telescope</a>,
  <a href="https://en.wikipedia.org/wiki/Mount_Wellington_(Tasmania)">Mount Wellington</a>, Seven Mile Beach, and downtown <a href="https://en.wikipedia.org/wiki/Hobart">Hobart</a>, with thanks to
  <a href="https://paravion.com.au/">Par Avion Wilderness Tours</a>.</p>

<h2>Website Photos</h2>

<p>Curious about the photos used on this website? Check out the <a href="/colophon">colophon</a>.</p>
{% endblock %}
