/* line 1, static/base.scss */
body {
  background-attachment: fixed;
  background-size: cover;
  font-size: 16px;
  font-weight: 300;
  font-family: 'Open Sans', sans-serif;
  padding-bottom: 30px; }
  /* line 9, static/base.scss */
  body h1, body h2, body h3, body h4, body h5, body h6 {
    font-family: 'Muli', sans-serif;
    font-weight: 200;
    font-style: italic; }
  /* line 15, static/base.scss */
  body > .container {
    width: auto;
    max-width: 940px; }
    /* line 19, static/base.scss */
    body > .container h1 small {
      color: #b8bcc0; }
  /* line 24, static/base.scss */
  body header {
    position: fixed;
    top: 0;
    height: 50px;
    width: 100%;
    z-index: 10001; }
    /* line 31, static/base.scss */
    body header nav {
      font-family: "Muli", sans-serif;
      text-align: center;
      box-shadow: 0 0 4px rgba(0, 0, 0, 0.07), 0 4px 8px rgba(0, 0, 0, 0.14); }
      /* line 36, static/base.scss */
      body header nav .navbar-header {
        width: 200px; }
        /* line 39, static/base.scss */
        body header nav .navbar-header .navbar-brand {
          font-style: italic;
          font-weight: 300;
          color: #337ab7; }
          /* line 44, static/base.scss */
          body header nav .navbar-header .navbar-brand:focus, body header nav .navbar-header .navbar-brand:hover {
            color: #286090; }
      /* line 51, static/base.scss */
      body header nav > .container-fluid {
        list-style: none;
        margin: 0;
        overflow: scroll;
        padding: 0;
        top: 0; }
      /* line 59, static/base.scss */
      body header nav #NavTrigger {
        height: 50px;
        padding-top: 16px;
        position: absolute;
        right: 0;
        text-align: left;
        top: 0;
        width: 40px; }
      /* line 69, static/base.scss */
      body header nav #NavTrigger:before,
      body header nav #NavTrigger:after,
      body header nav #NavTrigger span {
        background: #4c4c4c;
        border-radius: 50%;
        content: '.';
        height: 4px;
        line-height: 4px;
        margin: 2px auto;
        width: 4px;
        display: block;
        overflow: hidden;
        text-indent: -9999px; }
  /* line 86, static/base.scss */
  body #ShadowBox {
    background: rgba(51, 51, 51, 0.8);
    content: '[]';
    display: none;
    height: 100vh;
    left: 0;
    position: absolute;
    text-indent: -9999px;
    top: 0;
    width: 100vw;
    z-index: 98; }
  /* line 99, static/base.scss */
  body main {
    color: #f8f8f8;
    background-color: rgba(51, 51, 51, 0.9);
    padding: 15px;
    margin: 110px 0 30px 0; }
    /* line 105, static/base.scss */
    body main a {
      color: #c9c3e7; }
      /* line 108, static/base.scss */
      body main a:hover, body main a:focus {
        color: white; }
    /* line 114, static/base.scss */
    body main .alert {
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
      margin-top: 0 !important; }
      /* line 118, static/base.scss */
      body main .alert.alert-default {
        color: #252525;
        background-color: #fff;
        border-color: #ddd; }
      /* line 124, static/base.scss */
      body main .alert a {
        color: #000;
        text-decoration: underline; }
        /* line 128, static/base.scss */
        body main .alert a:hover, body main .alert a:focus {
          text-decoration: none; }
    /* line 135, static/base.scss */
    body main .page-header {
      margin-top: 0px; }
      /* line 138, static/base.scss */
      body main .page-header h1 {
        margin-top: 10px; }
  /* line 144, static/base.scss */
  body .panel,
  body .alert {
    color: #252525; }
    /* line 148, static/base.scss */
    body .panel.panel-float, body .panel.alert-float,
    body .alert.panel-float,
    body .alert.alert-float {
      max-width: 33%; }
      /* line 152, static/base.scss */
      body .panel.panel-float.panel-float-right, body .panel.panel-float.alert-float-right, body .panel.alert-float.panel-float-right, body .panel.alert-float.alert-float-right,
      body .alert.panel-float.panel-float-right,
      body .alert.panel-float.alert-float-right,
      body .alert.alert-float.panel-float-right,
      body .alert.alert-float.alert-float-right {
        float: right;
        margin: 1em 0 1em 1em; }
      /* line 158, static/base.scss */
      body .panel.panel-float.panel-float-left, body .panel.panel-float.alert-float-left, body .panel.alert-float.panel-float-left, body .panel.alert-float.alert-float-left,
      body .alert.panel-float.panel-float-left,
      body .alert.panel-float.alert-float-left,
      body .alert.alert-float.panel-float-left,
      body .alert.alert-float.alert-float-left {
        float: left;
        margin: 1em 1em 1em 0; }
    /* line 165, static/base.scss */
    body .panel a,
    body .alert a {
      color: #00009d; }
      /* line 168, static/base.scss */
      body .panel a.btn,
      body .alert a.btn {
        margin-top: 1em;
        color: #00009d !important;
        text-decoration: none; }
  /* line 176, static/base.scss */
  body .pull-glyph-right .glyphicon {
    float: right;
    margin-top: 2px;
    margin-right: -6px;
    margin-left: 6px; }

/* line 184, static/base.scss */
body.home {
  background-image: url('/static/images/home.jpg');
  background-color: #58c8f6; }
  /* line 188, static/base.scss */
  body.home main {
    background-color: inherit; }
  /* line 192, static/base.scss */
  body.home > .container {
    max-width: inherit; }
  /* line 196, static/base.scss */
  body.home .page-header {
    margin-top: 40px; }
  /* line 200, static/base.scss */
  body.home div#sidebar {
    background-color: rgba(51, 51, 51, 0.9);
    color: #f8f8f8;
    padding-bottom: 10px;
    margin-top: 20px;
    min-width: 250px; }
    /* line 207, static/base.scss */
    body.home div#sidebar .page-header {
      margin-top: 20px; }
    /* line 211, static/base.scss */
    body.home div#sidebar .control-label {
      display: none; }

/* line 217, static/base.scss */
body.story {
  background-image: url('/static/images/story.jpg');
  background-color: #87c1e9; }

/* line 222, static/base.scss */
body.detail {
  background-image: url('/static/images/details.jpg');
  background-color: #063d90; }
  /* line 227, static/base.scss */
  body.detail main .panel-body > .datetime,
  body.detail main .panel-body > .address {
    float: left;
    display: block; }

/* line 235, static/base.scss */
body.gift {
  background-image: url('/static/images/gifts.jpg');
  background-color: #58c8f6; }

/* line 240, static/base.scss */
body.photo {
  background-image: url('/static/images/photos.jpg');
  background-color: #d8c5b7; }

/* line 245, static/base.scss */
body.colophon {
  background-image: url('/static/images/colophon.jpg');
  background-color: #063d90; }

/* line 250, static/base.scss */
body.guest {
  background-image: url('/static/images/guest.jpg');
  background-color: #0544ab; }
  /* line 254, static/base.scss */
  body.guest .intro {
    padding-bottom: 20px; }
    /* line 257, static/base.scss */
    body.guest .intro p {
      display: block;
      font-size: large; }
  /* line 264, static/base.scss */
  body.guest #events dd + dt {
    margin-top: 1em; }

/* line 277, static/base.scss */
body.home li.home a,
body.home li.home a:hover,
body.home li.home a:focus,
body.story li.story a,
body.story li.story a:hover,
body.story li.story a:focus,
body.detail li.detail a,
body.detail li.detail a:hover,
body.detail li.detail a:focus,
body.registry li.registry a,
body.registry li.registry a:hover,
body.registry li.registry a:focus,
body.photo li.photo a,
body.photo li.photo a:hover,
body.photo li.photo a:focus,
body.guest li.guest a,
body.guest li.guest a:hover,
body.guest li.guest a:focus,
body.colophon li.colophon a,
body.colophon li.colophon a:hover,
body.colophon li.colophon a:focus {
  color: #555;
  background-color: #e7e7e7; }

@media (min-width: 768px) {
  /* line 286, static/base.scss */
  #NavTrigger {
    display: none; }
  /* line 290, static/base.scss */
  .navbar-header {
    margin-right: -200px; }
  /* line 294, static/base.scss */
  body nav > .container-fluid {
    top: 0;
    overflow: hidden;
    position: inherit;
    display: inline-block;
    transform: translate(0, 0);
    width: auto; } }

@media (max-width: 1080px) and (min-width: 768px) {
  /* line 305, static/base.scss */
  .navbar-header {
    display: none; } }

@media (max-width: 768px) {
  /* line 313, static/base.scss */
  body header nav .navbar-header {
    position: fixed; }
  /* line 317, static/base.scss */
  body header nav > .container-fluid {
    transform: translate(0, 0);
    background-color: #f8f8f8;
    right: 0;
    display: none; }
  /* line 326, static/base.scss */
  body main h2 small {
    display: none; }
  /* line 332, static/base.scss */
  body main .panel.panel-float, body main .panel.alert-float,
  body main .alert.panel-float,
  body main .alert.alert-float {
    max-width: 100%;
    width: 100%; }
    /* line 337, static/base.scss */
    body main .panel.panel-float.panel-float-right, body main .panel.panel-float.alert-float-right, body main .panel.alert-float.panel-float-right, body main .panel.alert-float.alert-float-right,
    body main .alert.panel-float.panel-float-right,
    body main .alert.panel-float.alert-float-right,
    body main .alert.alert-float.panel-float-right,
    body main .alert.alert-float.alert-float-right {
      float: none;
      margin: 1em 0 1em 0 !important; }
    /* line 343, static/base.scss */
    body main .panel.panel-float.panel-float-left, body main .panel.panel-float.alert-float-left, body main .panel.alert-float.panel-float-left, body main .panel.alert-float.alert-float-left,
    body main .alert.panel-float.panel-float-left,
    body main .alert.panel-float.alert-float-left,
    body main .alert.alert-float.panel-float-left,
    body main .alert.alert-float.alert-float-left {
      float: none;
      margin: 1em 0 1em 0 !important; }
  /* line 352, static/base.scss */
  body.home {
    background-position-x: 45%; }
    /* line 355, static/base.scss */
    body.home #sidebar {
      position: absolute;
      width: 100%;
      bottom: 0;
      left: 0;
      right: 0; }
  /* line 365, static/base.scss */
  body.home.nav-active #sidebar {
    display: none; }
  /* line 371, static/base.scss */
  body.guest main .row > * {
    min-width: 100%; }
  /* line 379, static/base.scss */
  body.detail main .panel-body > .datetime,
  body.detail main .panel-body > .address {
    float: left;
    display: block;
    max-width: 45%; }
  /* line 386, static/base.scss */
  body.detail main .panel-body > .datetime {
    margin-right: 2em; }
  /* line 390, static/base.scss */
  body.detail main .panel-body > .btn {
    clear: both;
    display: block;
    margin-top: 0; }
  /* line 400, static/base.scss */
  body.nav-active {
    overflow: hidden;
    position: fixed; }
    /* line 404, static/base.scss */
    body.nav-active #ShadowBox {
      display: block; }
    /* line 408, static/base.scss */
    body.nav-active nav {
      text-align: right;
      max-height: 50px; }
      /* line 412, static/base.scss */
      body.nav-active nav > .container-fluid {
        display: inline-block;
        top: 50px;
        right: 0;
        width: 200px;
        height: 100vh;
        overflow: hidden;
        position: inherit;
        transform: translate(0, 0); }
        /* line 422, static/base.scss */
        body.nav-active nav > .container-fluid ul li {
          padding-left: 1em;
          text-align: left; } }
