/* line 1, static/base.scss */
body {
  background-attachment: fixed;
  background-size: cover;
  font-size: 16px;
  font-weight: 300;
  font-family: 'Open Sans', sans-serif; }
  /* line 8, static/base.scss */
  body h1, body h2, body h3, body h4, body h5, body h6 {
    font-family: 'Muli', sans-serif;
    font-weight: 200;
    font-style: italic; }
  /* line 14, static/base.scss */
  body > .container {
    width: auto;
    max-width: 940px; }
    /* line 18, static/base.scss */
    body > .container h1 small {
      color: #b8bcc0; }
  /* line 23, static/base.scss */
  body header {
    position: fixed;
    top: 0;
    height: 50px;
    width: 100%;
    z-index: 10001; }
    /* line 30, static/base.scss */
    body header nav {
      text-align: center; }
      /* line 33, static/base.scss */
      body header nav .navbar-header {
        font-style: italic;
        width: 200px; }
      /* line 38, static/base.scss */
      body header nav > .container-fluid {
        list-style: none;
        margin: 0;
        overflow: scroll;
        padding: 0;
        top: 0; }
      /* line 46, static/base.scss */
      body header nav #NavTrigger {
        height: 50px;
        padding-top: 16px;
        position: absolute;
        right: 0;
        text-align: left;
        top: 0;
        width: 40px; }
      /* line 56, static/base.scss */
      body header nav #NavTrigger:before,
      body header nav #NavTrigger:after,
      body header nav #NavTrigger span {
        background: #4c4c4c;
        border-radius: 50%;
        content: '.';
        height: 4px;
        line-height: 4px;
        margin: 2px auto;
        width: 4px;
        display: block;
        overflow: hidden;
        text-indent: -9999px; }
  /* line 73, static/base.scss */
  body #ShadowBox {
    background: rgba(51, 51, 51, 0.8);
    content: '[]';
    display: none;
    height: 100vh;
    left: 0;
    position: absolute;
    text-indent: -9999px;
    top: 0;
    width: 100vw;
    z-index: 98; }
  /* line 86, static/base.scss */
  body main {
    color: #f8f8f8;
    background-color: rgba(51, 51, 51, 0.9);
    padding: 15px;
    margin: 110px 0 30px 0; }
    /* line 92, static/base.scss */
    body main a {
      color: #9debe9; }
    /* line 96, static/base.scss */
    body main .page-header {
      margin-top: 0px; }
      /* line 99, static/base.scss */
      body main .page-header h1 {
        margin-top: 10px; }
  /* line 105, static/base.scss */
  body .panel {
    color: #252525; }
  /* line 109, static/base.scss */
  body button.pull-glyph-right .glyphicon {
    float: right;
    margin-top: 2px;
    margin-right: -6px;
    margin-left: 6px; }

/* line 117, static/base.scss */
body.home {
  background-image: url('/static/images/home.jpg');
  background-color: #58c8f6; }
  /* line 121, static/base.scss */
  body.home main {
    background-color: inherit; }
  /* line 125, static/base.scss */
  body.home > .container {
    max-width: inherit; }
  /* line 129, static/base.scss */
  body.home .page-header {
    margin-top: 40px; }
  /* line 133, static/base.scss */
  body.home div#sidebar {
    background-color: rgba(51, 51, 51, 0.9);
    color: #f8f8f8;
    padding-bottom: 10px;
    margin-top: 20px;
    min-width: 250px; }
    /* line 141, static/base.scss */
    body.home div#sidebar .control-label {
      display: none; }

/* line 147, static/base.scss */
body.story {
  background-image: url('/static/images/story.jpg');
  background-color: #87c1e9; }

/* line 152, static/base.scss */
body.detail {
  background-image: url('/static/images/details.jpg');
  background-color: #063d90; }

/* line 157, static/base.scss */
body.gift {
  background-image: url('/static/images/gifts.jpg');
  background-color: #58c8f6; }

/* line 162, static/base.scss */
body.photo {
  background-image: url('/static/images/photos.jpg');
  background-color: #d8c5b7; }

/* line 167, static/base.scss */
body.guest {
  background-image: url('/static/images/guest.jpg');
  background-color: #58c8f6; }
  /* line 171, static/base.scss */
  body.guest .intro {
    padding-bottom: 20px; }
    /* line 174, static/base.scss */
    body.guest .intro p {
      display: block;
      font-size: large; }
  /* line 180, static/base.scss */
  body.guest .event {
    margin-bottom: 20px; }
    /* line 183, static/base.scss */
    body.guest .event h3 {
      font-size: large;
      margin-top: 0px; }
    /* line 188, static/base.scss */
    body.guest .event .datetime {
      font-size: medium;
      display: block; }
    /* line 193, static/base.scss */
    body.guest .event .venue {
      font-size: medium;
      display: block; }

/* line 206, static/base.scss */
body.home li.home a,
body.home li.home a:hover,
body.home li.home a:focus,
body.story li.story a,
body.story li.story a:hover,
body.story li.story a:focus,
body.detail li.detail a,
body.detail li.detail a:hover,
body.detail li.detail a:focus,
body.registry li.registry a,
body.registry li.registry a:hover,
body.registry li.registry a:focus,
body.photo li.photo a,
body.photo li.photo a:hover,
body.photo li.photo a:focus,
body.guest li.guest a,
body.guest li.guest a:hover,
body.guest li.guest a:focus {
  color: #555;
  background-color: #e7e7e7; }

@media (min-width: 768px) {
  /* line 215, static/base.scss */
  #NavTrigger {
    display: none; }
  /* line 219, static/base.scss */
  .navbar-header {
    margin-right: -200px; }
  /* line 223, static/base.scss */
  body nav > .container-fluid {
    top: 0;
    overflow: hidden;
    position: inherit;
    display: inline-block;
    transform: translate(0, 0);
    width: auto; } }

@media (max-width: 960px) and (min-width: 768px) {
  /* line 235, static/base.scss */
  .navbar-header {
    display: none; } }

@media (max-width: 768px) {
  /* line 243, static/base.scss */
  body header nav .navbar-header {
    position: fixed; }
  /* line 247, static/base.scss */
  body header nav > .container-fluid {
    transform: translate(0, 0);
    background-color: #f8f8f8;
    right: 0;
    display: none; }
  /* line 255, static/base.scss */
  body.home {
    background-position-x: 45%; }
    /* line 258, static/base.scss */
    body.home #sidebar {
      position: absolute;
      width: 100%;
      bottom: 0;
      left: 0;
      right: 0; }
  /* line 268, static/base.scss */
  body.home.nav-active #sidebar {
    display: none; }
  /* line 274, static/base.scss */
  body.nav-active {
    overflow: hidden;
    position: fixed; }
    /* line 278, static/base.scss */
    body.nav-active #ShadowBox {
      display: block; }
    /* line 282, static/base.scss */
    body.nav-active nav {
      text-align: right;
      max-height: 50px; }
      /* line 286, static/base.scss */
      body.nav-active nav > .container-fluid {
        display: inline-block;
        top: 50px;
        right: 0;
        width: 200px;
        height: 100vh;
        overflow: hidden;
        position: inherit;
        transform: translate(0, 0); }
        /* line 296, static/base.scss */
        body.nav-active nav > .container-fluid ul li {
          padding-left: 1em;
          text-align: left; } }
